.header {
  max-width: 880px;
  min-height: 74px;
  padding-top: 45px;
  margin: auto;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 678px) {

  .header {
    padding: 28px 19px 0;
  }

}